@font-face {
  font-family: "STIX Two Text";
  src: url(STIX2Text-Regular.woff2) format("woff2"),
       url(STIX2Text-Regular.woff) format("woff");
}

body {
  font-family: "STIX Two Text", "Times New Roman", Times, serif;
}
