@font-face {
  font-family: "STIX Two Text";
  src: url(STIX2Text-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "STIX Two Text";
  src: url(STIX2Text-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "STIX Two Text";
  src: url(STIX2Text-Italic.woff2) format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "STIX Two Text";
  src: url(STIX2Text-BoldItalic.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
}

body.pretext {
  font-family: "STIX Two Text", "Times New Roman", Times, serif;
}

dt {
  font-style: italic;
}

header.ptx-masthead span.title,
header.ptx-masthead span.subtitle {
  color: #09AB0D;
}

.ptx-toc.parts:not(.depth2) > ul.structural > li > ul.structural > li > .toc-item > a
{
  background-color: #09AB0D;
}

.ptx-toc ul.structural li a, .ptx-toc ul.structural li a:link,
.ptx-toc.parts:not(.depth2) > ul.structural > li > ul.structural > li > .toc-item > a:hover
{
  background-color: #0D09AB;
}

.ptx-toc ul.structural li ul.structural a.active,
.ptx-toc ul.structural li ul.structural a:hover
{
  background-color: #AB0D09;
}

.ptx-toc ul.structural li ul.structural a {
  color: #0D09AB;
  font-family: "STIX Two Text", "Times New Roman", Times, serif;
}
